.list {
	$self: &;
	margin-bottom: 30px;

	.badge {
		position: relative;
		left: 4px;
	}

	&__add-button {
		span,
		svg {
			opacity: 0.5;
		}
		&:hover {
			span,
			svg {
				opacity: 1;
			}
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		cursor: pointer;
		transition: background-color .15s ease-in-out;

		&:hover #{$self}__remove-icon {
			opacity: 0.3;
		}
		#{$self}__remove-icon {
			opacity: 0;
			transition: opacity .15s ease-in-out;
			&:hover{
				opacity: 0.8;
			}
		}

		span {
			flex: 1;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}
		&.active {
			border-radius: 4px;
			background: #fff;
			box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
		}
	}
	i {
		display: inline-flex;
		margin-right: 8px;
	}
}
