* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: 'Roboto', -apple-system, system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo {
	display: flex;
	font-size: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 100px);
	height: calc(100vh - 100px);
	box-shadow: 0px 0px 20px 0px #dcdcdc;
	border-radius: 10px;
	border: 1px solid #f4f6f8;

	&__sidebar {
		box-sizing: border-box;
		background-color: #f4f6f8;
		min-width: 200px;
		height: 100%;
		border-right: 1px solid #f1f1f1;
		padding: 60px 20px;
	}
	&__tasks {
		flex: 1;
		padding: 60px;
		overflow: auto;
	}
}

.button {
	border-radius: 4px;
	background: #4dd599;
	color: #fff;
	border: 0;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;

	&:hover {
		background: darken($color: #4dd599, $amount: 5%);
	}
	&:active {
		background: darken($color: #4dd599, $amount: 10%);
	}

	&:disabled {
		background: #d8d8d8;
	}
	&--grey {
		background: #f4f6f8;
		color: #434343;

		&:hover {
			background: darken($color: #f4f6f8, $amount: 3%);
		}
		&:active {
			background: darken($color: #f4f6f8, $amount: 6%);
		}
	}
}

.field {
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #efefef;
	background: #fff;
	box-sizing: border-box;
	padding: 8px 12px;
	width: 100%;

	&:focus {
		border-color: darken($color: #efefef, $amount: 15%);
	}
}
